body{
   height: 100vh;
   margin: 0;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

* {
    box-sizing: border-box;
}


#cover{
    width: 20%;
    height: auto; 
    border-radius: 10px; 
}

.music-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-container{
    background: rgb(167, 167, 212);
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 20px 20px 0 rgba(193, 201, 207, 0.6);
}


.progress-container{
    background:rgba(17, 20, 22, 0.6);
 border-radius: 5px;
 cursor: pointer;
 margin: 10px 0;
 padding-right: 0px;
 position: relative;
 right: 55px;
 height: 4px;
 width: 335%;
}

.progress{
    background-color: #fe8daa;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}


#carousel-buttons{
display: flex;
justify-content: space-around;

}




#button:hover{
   background: rgba(193, 201, 207, 0.6) !important;
   transform:  scale(1.1)  ;
   -webkit-transition: transform .1s ease-in-out;
}



#carousel-img{
    width:  400px;
    height: auto;
    object-fit: cover;
    border-radius: 10px; 
}


#carousel-image{
    
}

#carousel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}